@model InventoryManagement.Models.Employee
@{
	var title = "Create Employess ";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" enctype="multipart/form-data">
	<div class="row p-3 border">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		@if (Model.Id != 0)
		{
			//edit
			title = "Edit Employee";
			<input type="hidden" asp-for="Id" />
		}
		<div class="col-12 border-bottom">
			<h2 class="text-primary">@title</h2>
		</div>
		<div class="col-8 pt-4">
			<div class="form-group row">
				<div class="col-4">
					<label asp-for="Name"></label>
				</div>
				<div class="col-8">
					<input asp-for="Name" class="form-control" />
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-4">
					<label asp-for="IdentityCardNumber"></label>
				</div>
				<div class="col-8">
					<input asp-for="IdentityCardNumber" class="form-control" />
					<span asp-validation-for="IdentityCardNumber" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-4">
					<label asp-for="Age"></label>
				</div>
				<div class="col-8">
					<input asp-for="Age" class="form-control" />
					<span asp-validation-for="Age" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group row">
				<label asp-for="Sex"></label>
				<select asp-for="Sex" class="form-control" asp-items="ViewBag.Gender">
					<option value="">Please Select Gender</option>

				</select>
				<span asp-validation-for="Sex" class="text-danger"></span>
			</div>

			<div class="form-group row">
				<div class="col-4">
					<label asp-for="PhoneNumber"></label>
				</div>
				<div class="col-8">
					<input asp-for="PhoneNumber" class="form-control" />
					<span asp-validation-for="PhoneNumber" class="text-danger"></span>
				</div>
			</div>
			@*<div class="form-group row">
			<div class="col-4">
				<label asp-for="StockItem.Description"></label>
			</div>
			<div class="col-8">
				<textarea asp-for="StockItem.Description" class="form-control"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="StockItem.Created" class="control-label"></label>
			<input asp-for="StockItem.Created" readonly type="date" class="form-control" />

			<span asp-validation-for="StockItem.Created" class="text-danger"></span>
		</div>*@
			@*<div class="form-group row">
			<div class="col-4">
				<label asp-for="Product.ListPrice"></label>
			</div>
			<div class="col-8">
				<input asp-for="Product.ListPrice" class="form-control" />
				<span asp-validation-for="Product.ListPrice" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-4">
				<label asp-for="Product.Price"></label>
			</div>
			<div class="col-8">
				<input asp-for="Product.Price" class="form-control" />
				<span asp-validation-for="Product.Price" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-4">
				<label asp-for="Product.Price50"></label>
			</div>
			<div class="col-8">
				<input asp-for="Product.Price50" class="form-control" />
				<span asp-validation-for="Product.Price50" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-4">
				<label asp-for="Product.Price100"></label>
			</div>
			<div class="col-8">
				<input asp-for="Product.Price100" class="form-control" />
				<span asp-validation-for="Product.Price100" class="text-danger"></span>
			</div>
		</div>*@
			@*<div class="form-group row">
			<div class="col-4">
				Category
			</div>
			<div class="col-8">
				@Html.DropDownListFor(m => m.StockItem.WareHouseId, Model.WareHouseList, "-Select a WareHouse",
			   new { @class = "form-control" })
				<span asp-validation-for="StockItem.WareHouseId" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-4">
				Cover Type
			</div>
			<div class="col-8">
				@Html.DropDownListFor(m => m.StockItem.EmployeeId, Model.EmployeeList, "-Select an Employee",
			   new { @class = "form-control" })
				<span asp-validation-for="StockItem.EmployeeId" class="text-danger"></span>
			</div>
		</div>*@
			<div class="form-group row">
				<div class="col-4">
					Image
				</div>
				<div class="col-8">
					<input type="file" name="files" id="uploadBox" multiple class="form-control" />
				</div>
			</div>
			<div class="form-group row">
				<div class="col-8 offset-4">
					@if (Model.Id != 0)
					{
						<partial name="_EditAndBackToListButton" model="Model.Id" />
					}
					else
					{
						<div class="row">
							<div class="col">
								<button type="submit" onclick="return validateInput()" class="btn btn-primary form-control">Create</button>
							</div>
							<div class="col">
								<a asp-action="Index" class="btn btn-success form-control">Back to List</a>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
		@if (Model.Id != 0)
		{
			<div class="col-3 offset-1 pt-4">
				<img src="@Model.ImageUrl" width="100" style="border-radius:5px; border:1px solid #bbb9b9" />
			</div>
		}
	</div>
</form>

@section Scripts{
	<partial name="_ValidationScriptsPartial" />
	<script src="https://cdn.tiny.cloud/1/uxjp2lgqdairlvuajfuyu7tk9dovuphki026y8b7nzzza9mg/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

	<script>
		tinymce.init({
			selector: 'textarea',
			plugins: 'lists',
			menubar: 'file edit format',
		});

		function validateInput() {
			if (document.getElementById("uploadBox").value == "") {
				swal("Error", "Please select an image", "error");
				return false;
			}
			return true;
		}
	</script>
}



